*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(".image/logo.png.jpg");
    background-size: 200%;
    background-position: -400px 0px;
    
}
body{
    width: 400px;
    margin: 100 auto opx auto;

}
h1{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}